#company-seq{
	position: relative;
	width: 100%;
	min-height: 1000px;
	max-width: 100%;
	overflow: hidden;
	margin: 0 auto;
	padding: 0;
	overflow-y: auto;
}

#company-seq .seq-canvas,
#company-seq .seq-canvas > *{
	margin: 0;
	padding: 0;
	list-style: none;
}

#company-seq .seq-canvas{
	position: absolute;
	min-height: 100%;
	width: 100%;
	white-space: nowrap;
}

#company-seq .seq-canvas > *{
	display: inline-block;
	vertical-align: top;
	width: 100%;
	min-height: 100%;
	white-space: normal;
}

.seq-selected{
	 background-color: #000 !important; 
	 color: #FFF !important;
}

.btn-seq{
	width: 100% !important; 
	padding: 6px 12px !important;
	font-size: 11px !important;
}

#setup-tab-1,
#setup-tab-2{
	padding: 0 !important;
}