.flat-blue .btn.btn-info{
	background-color: #001371 !important;
}
.flat-blue .btn.btn-primary {
	background-color: #000 !important;
}
.flat-blue .btn.btn-success {
	/*background-color: #008c1e !important;*/
	background-color: #009688 !important;
}
.flat-blue .btn.btn-warning {
	background-color: #ffb600 !important;
}